{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<div class="m-links" id="links">
    <a href="/" class="fa fa-home"> صفحه اصلی</a>
    <a href="/about/" class="fa fa-info-circle"> درباره ما </a>
    <a href="/blog/" id="m-active-page" class="fa fa-newspaper-o"> بلاگ</a>
    <a href="/products/" class="fa fa-code"> محصولات</a>
    <a href="/contact/" class="fa fa-envelope"> تماس با ما</a>
</div>
<nav class="mon" id="mon">
    <button class="fa fa-bars" id="ham" onclick="mobileNav('fa')"></button>
    <h2><a id="logo" href="/" class="m-logo">آوازه</a> </h2>


    <div class="m-lang"><a href="/blog/en/">en</a></div>
</nav>

<div class="els" onclick="closeNav()">
    <nav class="mof">
        <div class="navbar">
            <h2><a href="/" class="logo">آوازه</a> </h2>
            <div class="links">
                <a href="/">صفحه اصلی</a>
                <a href="/about/">درباره ما</a>
                <a href="/blog/" id="m-active-page">بلاگ</a>
                <a href="/products/">محصولات</a>
                <a href="/contact/">تماس با ما</a>
            </div>
        </div>
        <div class="lang"><a href="/blog/en/">en</a></div>
    </nav>


    <aside>
        <div class="aside-sec">
            <div class="asp">
                <h4>جستجو :</h4>
            </div>
            <div class="asps">
                <div class="search"><input type="text" name="search"><button class="fa fa-search"></button></div>

            </div>

        </div>
        <div class="aside-sec">
            <div class="asp">
                <h4>دسته ها :</h4>
            </div>
            <div class="asps">

                <a href="#!" class="sort-item">نام دسته</a>
                <a href="#!" class="sort-item">نام دسته</a>
                <a href="#!" class="sort-item">نام دسته</a>
                <a href="#!" class="sort-item">نام دسته</a>
                <a href="#!" class="sort-item">نام دسته</a>
                <a href="#!" class="sort-item">نام دسته</a>
                <a href="#!" class="sort-item">نام دسته</a>
                <a href="#!" class="sort-item">نام دسته</a>


            </div>
        </div>
    </aside>
    <h3>{{ posts.count }} post{{ posts.count|pluralize }} has been added</h3>

    {% for post in posts  %}
    <div class="card">

        <h2> {{ post.title }}
        </h2>
        <h3> {{ post.description|striptags|truncatechars:100 }}
        </h3>
        <img src="{{ post.image.url }}" width="240px" alt="">
        <span>{{ post.date|date:'d M Y' }}</span>
        <a href="{{ post.id }}/">view post</a>
    </div>

    {% endfor %}



    {% endblock %}